.header__logo {
  width: 142px;
  height: 33px;
  padding-top: 45px;
  padding-bottom: 41px;
}

@media screen and (max-width: 935px) {
  .header__logo {
    padding-left: 27px;}
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-top: 28px;
    padding-bottom: 31.6px;
    padding-left: 15px;}
}
