@font-face {
  src: url(../../vendor/Inter/Inter-Black.woff) format('woff'),
    url(../../vendor/Inter/Inter-Black.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 900;
}

@font-face {
  src: url(../../vendor/Inter/Inter-Regular.woff) format('woff'),
    url(../../vendor/Inter/Inter-Regular.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 400;
}

@font-face {
  src: url(../../vendor/Inter/Inter-Medium.woff) format('woff'),
    url(../../vendor/Inter/Inter-Medium.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: 500;
}

.movies__component {
  max-width: 1280px;
  margin: 0 auto;
}