.sign__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 51px;
    text-align: center;
  } 
     
     
  @media screen and (max-width: 500px) {
    .sign__title {
      font-size: 18px;
      line-height: 22px;
      padding-bottom: 30px;}
  }
  