@import url(../../../vendor/fonts.css);

.NavTab__content {
  background-color: black;
}

.navTab__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  min-height: 66px;
  padding: 0px;
  max-width: 276px;
  justify-content: space-between;
}

.navTab__link-point {
  list-style-type: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  max-width: 276px;
}

.navTab__link {
  text-decoration: none;
  text-decoration-line: underline;
  color: white;
  margin: 0;
}

.navTab__link:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

@media screen and (max-width: 500px) {
  .navTab__block {
    max-width: 244px;
  }
}

@media screen and (max-width: 320px) {
  .navTab__link-point {
    font-size: 11px;
    line-height: 16px;
  }
}