@import url(../../../vendor/fonts.css);

.NavTab__content {
  background-color: rgb(255, 255, 255);
}

.navTab__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
  gap: 10px;
  justify-content: space-between;
  min-height: 36px;
  background-color: #F5F5F5;
  padding-bottom: 30px;
}

.navTab__link-point {
  list-style-type: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  max-width: 276px;
}

.navTab__link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #E8E8E8;
  margin: 0;
  border-radius: 10px;
  padding: 10px 17px;
}

.navTab__link:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

@media screen and (max-width: 500px) {
  .navTab__block {
    max-width: 244px;
  }
}

@media screen and (max-width: 320px) {
  .navTab__link-point {
    font-size: 11px;
    line-height: 16px;
  }
}