@import url(../../../vendor/fonts.css);

.promo__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  background-color: #073042;
  position: relative;
  max-height: 524px;
}

@media screen and (max-width: 520px) {
  .promo__content {
    max-height: 570px;
  }
}
  
.promo__background-logo {
  width: 320px;
  height: 320px;
  margin-top: 156px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 1;
  color: #FFFFFF;
  opacity: 0.2;
}

.promo__title {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  color: white;
  z-index: 2;
  max-width: 730px;
  margin: 0;
  padding: 184px 0px 224px 0px;
}

@media screen and (max-width: 520px) {
  .promo__title {
    font-size: 31px;
    line-height: 39px;
    padding: 207px 10px 246px 10px;
    max-width: 300px;
    }
}

@media screen and (max-width: 520px) {
  .promo__background-logo {
    width: 248px;
    height: 248px;
    }
}