.searchForm {
  display: flex;
  flex-direction: column;
  padding: 80px 70px 10px 70px;
  box-sizing: border-box;
  align-items: stretch;
}

@media screen and (max-width: 770px) {
  .searchForm {
    padding: 60px 30px 0px 30px;
  }
}

@media screen and (max-width: 400px) {
  .searchForm {
    padding: 60px 10px 0px 10px;
  }
}

.searchForm__form {
  max-width: 1140x;
  display: grid;
  grid-template-columns: auto 167px;
  grid-template-rows: 48px;
  gap: 41px;
  padding-bottom: 84px;
  margin: 0;
  align-items: baseline;
  border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 770px) {
  .searchForm__form {
    grid-template-columns: auto;
    gap: 38px;
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 400px) {
  .searchForm__form {
    gap: 45px;
    padding-bottom: 44px;
  }
}

.searchForm__input-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
  
.searchForm__input {
  border-style: none;
  background: #F4F4F4;
  border-radius: 9px;
  max-width: 1140px;
  height: 72px;
  z-index: 1;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media screen and (max-width: 770px) {
  .searchForm__input  {
    height: 45px;
  }
}

.searchForm__find-button {
  width: 34px;
  height: 34px;
  background-image: url(../../../images/find.svg);
  background-size: no-repeat;
  background-position: center;
  border: none;
  background-position: right;
  border-radius: 50px;
  z-index: 2;
  position: absolute;
  padding-right: 7px;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  align-self: center;
  justify-self: end;
  margin-right: 7px;
}

.searchForm__invisible-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
	opacity: 0;
	display: block;
}

.searchForm__find-button:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

.searchForm__tumb-container {
	display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  max-width: 167px;
  max-height: 48px;
  place-self: center;
}

.searchForm__visible-checkbox {
  background-image: url(../../../images/smalltumb.svg);
  height: 20px;
  z-index: 3;
  position: absolute;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 167px;
}

.searchForm__visible-checkbox1 {
  background-image: url(../../../images/smalltumboff.svg);
  height: 20px;
  z-index: 3;
  position: absolute;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 167px;
}

@media screen and (max-width: 770px) {
  .searchForm__visible-checkbox {
    width: 148px;
    top: 0;
  }
}

@media screen and (max-width: 770px) {
  .searchForm__visible-checkbox1 {
    width: 148px;
    top: 0;
  }
}

/*.searchForm__visible-checkbox:checked {
  background-image: url(../../../images/smalltumb.svg);
  background-color: red;
}

input[type="checkbox"]:checked+label {
  background-image: url(../../../images/smalltumboff.svg);
}*/

.searchForm__visible-checkbox:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

.searchForm__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  display: flex;
}

@media screen and (max-width: 770px) {
  .searchForm__text {
    font-size: 11px;
  }
}
